################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/Biblioteca
/BibliotecaShared.Models/obj/Debug/net8.0
/BibliotecaShared.Data/obj/Debug/net8.0
/BibliotecaShared.Data/obj
/BibliotecaConsole/.vs/Biblioteca
/BibliotecaConsole/bin/Debug/net8.0
/BibliotecaConsole/obj
/BibliotecaShared.Data/.vs/BibliotecaShared.Data/v17
/BibliotecaShared.Data/bin/Debug/net8.0
/BibliotecaShared.Models/bin/Debug/net8.0
/BibliotecaShared.Models/obj
/Biblioteca.API/bin/Debug/net8.0
/Biblioteca.API/obj
/BibliotecaConsole/.vs/ProjectEvaluation
/Biblioteca.Web/obj
*.targets
/BibliotecaShared.Data/.vs/BibliotecaShared.Data
