################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/Biblioteca
/BibliotecaShared.Models/obj/Debug/net8.0
/BibliotecaShared.Data/obj/Debug/net8.0
/BibliotecaShared.Data/obj
